@page
@model PRN221_FinalProject.Pages.Admin.ManageProductsModel
@{
    Layout = "_NavLayout";
}
<h1 style="margin-top: 30px">Manage Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Supplier ID</th>
            <th>Category ID</th>
            <th>Unit Price</th>
            <th>Product Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                @*<td>@product.SupplierId</td>*@
                <td>@product.CategoryId</td>
                <td>@string.Format("{0:N0} VND", product.UnitPrice)</td>
                <td style="width:150px"><img class="img-fluid w-100" src="@product.ProductImage" alt="..."></td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-productId="@product.ProductId">
                        <button style="width:73px" type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <form method="post" asp-page-handler="Update" asp-route-productId="@product.ProductId">
                        <button style="margin-top:5px" type="submit" class="btn btn-success btn-sm">Update</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["ErrorMessDelete"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessDelete"]</div>
}
@if (TempData["Mess"] != null)
{
    <div class="alert">@TempData["Mess"]</div>
}
<a href="/Admin/AddProduct" class="btn btn-primary">Add Product</a>

@*<hr />

<hr />
<br />
<h3>Update Product</h3>

<form method="post" asp-page-handler="Update">
    <div class="form-group">
        <label for="updateProductId">Product ID:</label>
        <input type="number" class="form-control" id="updateProductId" name="ProductInput.ProductId" required>
    </div>
    <div class="form-group">
        <label for="updateProductName">Product Name:</label>
        <input type="text" class="form-control" id="updateProductName" name="ProductInput.ProductName" required>
    </div>
    <div class="form-group">
        <label for="updateSupplierId">Supplier ID:</label>
        <input type="number" class="form-control" id="updateSupplierId" name="ProductInput.SupplierId" required>
    </div>
    <div class="form-group">
        <label for="updateCategoryId">Category ID:</label>
        <input type="number" class="form-control" id="updateCategoryId" name="ProductInput.CategoryId" required>
    </div>
    <div class="form-group">
        <label for="updateUnitPrice">Unit Price:</label>
        <input type="number" step="0.01" class="form-control" id="updateUnitPrice" name="ProductInput.UnitPrice" required>
    </div>
    <div class="form-group">
        <label for="updateProductImage">Product Image:</label>
        <input type="text" class="form-control" id="updateProductImage" name="ProductInput.ProductImage" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
</form>
@if (TempData["ErrorMessUpdate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessUpdate"]</div>
}*@

